.formRecruiment {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.formHeading {
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.headingFormsize {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

img {
    width: 730px;
}

.formRecruiment {
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 6px;
    width: 680px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.formRecruimentManage {
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 6px;
    width: 680px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.candidateListForm {
    margin-left: 20px;
    margin-top: 20px;
}

.recruimentFormHead {
    margin-left: 40px;
}

.navbar-brand {
    justify-content: center;
    display: flex;
    font-size: 40px;
}

.contact_section {
    margin-top: 20px;
}

.headList {
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    color: darkturquoise;
}

.recruimentList input {
    border: 2px solid black;
    border-radius: 8px;
}

.recruimentEndDate input {
    border: 2px solid black;
    /* border-radius: 8px; */
    margin-left: 20px;
}

.recruimentStartDate input {
    border: 2px solid black;
    /* border-radius: 8px; */
    margin-left: 10px;
}

.recruimentList textarea {
    border: 2px solid black;
    border-radius: 6px;
    margin-left: 50px;
    width: 270px;
}

.recruimentLabel input {
    margin-left: 60px;
    border: 2px solid black;
    border-radius: 8px;
}

.recruimentButton {
    background-color: darkturquoise;
    width: 190px;
    height: 45px;
    font-size: 30px;
    border-radius: 8px;
    margin-left: 130px;
}

.recruimentHead {
    font-size: 55px;
    color: darkturquoise;
    margin-top: 20px;
    margin-left: 80px;
}

.recruimentName input {
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 24px;
    margin-left: 42px;
}

.recruimentStartDate input {
    border: 2px solid black;
    padding-left: 10px;
    /* border-radius: 8px; */
    width: 302px;
    font-size: 24px;
}

.recruimentEndDate input {
    border: 2px solid black;
    padding-left: 10px;
    /* border-radius: 8px; */
    width: 302px;
    font-size: 24px;
}

.recruimentData input {
    border: 2px solid black;
    /* border-radius: 8px; */
    margin-right: 10px;
    font-size: 24px;
}

.recruimentQuantify input {
    margin-left: 25px;
    font-size: 24px;
    border: 2px solid black;
    /* border-radius: 8px; */
    margin-top: 20px;
}

.candidateHead {
    font-size: 40px;
    color: #000080;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.candidateBtn {
    font-size: 24px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 180px;
    border-radius: 4px;
}

.form-Name input {
    border-radius: 4px;
    width: 260px;
    margin-left: 180px;
    /* justify-content: center; */
    display: flex;
}

.form-Name label {
    font-size: 22px;
}

.formGender {
    display: flex;
}